.domain-head {
    width: 100%;
    height: 450px;
}

.entity-head {
    width: 100%;
    height: 350px;
}

.domain-stats {
    width: 70%;
    float: left;
}

.graph-container.graph-container--right {
    margin-left: 70%;
}

.fp-0 {
    color: #009900;
}

.fp-1 {
    color: #ffbf00;
}

.fp-2 {
    color: #ff6600;
}

.fp-3 {
    color: #770000;
    text-decoration: underline;
}

@media all and (max-width:480px) {
    .search-box__input {
        width: 150%;
    }

    .domain-head {
        height: auto;
    }

    .entity-head {
        height: auto;
    }

    .domain-stats {
        float: none;
        width: 100%;
    }

    .graph-container {
        margin-left: 0;
    }
}
