<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />

    <title>Tracker Radar Wiki - API abuse score history</title>

    <link rel="stylesheet" href="./assets/css/style.min.css">
    <script>
        window.wikiData = {
            type: "apiHistory",
            history: {{{apiHistoryString}}}
        };
    </script>
    <script src='./assets/js/vendor/lunr.js' defer></script>
    <script src='./assets/js/search.js' defer></script>

    <script src="./assets/js/vendor/Chart.min.js" defer></script>
    <script src='./assets/js/api-graph.js' defer></script>
</head>

<body>

<div class="container mx-auto">
    {{>navigation}}

    <h1 class='text-2xl mb-5'>API abuse score history</h1>
    <ul class="mx-auto p-5 list-disc">
        <li>API abuse score is a ratio betwen the number of "suspicious" scripts that are using given API in the wild and other scripts. "suspicious" scripts are scripts that we've seen pulling data from 15, or more, APIs from our list below. This list intends to document only APIs that have fingerprinting/tracking value.</li>
        <li>Values before 2020.11 were static and calculated once based on the initial, small sample, research, so everything before 2020.10 (last time we used static score) is skipped here.</li>
        <li>Values for 2021.07 and 2021.08 were not stored due to a bug, those dates are skipped to.</li>
        <li>APIs below are sorted by the latest score.</li>
        <li>List tracks abuse score of <strong>{{apiHistory.length}}</strong> APIs.</li>
    </ul>

    <div class='grid grid-cols-1 col-gap-5 row-gap-5 md:grid-cols-2 md:row-gap-10'>
        {{#apiHistory}}
        <div class="domain-stats">{{api}} - {{lastValue}}</div>
        <div class='graph-container graph-container--right'>
            <canvas class='graph-container__graph w-full mt-5' data-api="{{api}}"></canvas>
        </div>
        {{/apiHistory}}
    </div>

{{>footer}}
