{{>header}}

<script>
    window.wikiData = {
        type: "category",
        name: "{{name}}",
        history: {{{historySerialized}}}
    };
</script>
<script src="../assets/js/vendor/Chart.min.js" defer></script>
<script src='../assets/js/category-graph.js' defer></script>

<div class='p-5 border-b'>  
    <h1 class='text-2xl mb-5'>{{name}}</h1>
    
    <div class='grid grid-cols-1 col-gap-5 row-gap-5 md:grid-cols-2 md:row-gap-10'>
        <div class='graph-container'>
            <div class='flex'>
                <h3 class="section-header flex-grow">Historic Data</h3>
                <select class='graph-container__controller'>
                    <option selected value='domains-percentage'>% of domains</option>
                    <option value='domains'># of domains</option>
                </select>
            </div>
            <canvas class='graph-container__graph w-full mt-5'></canvas>
        </div>
        <div></div>
    </div>
</div>
<div class='p-5'>
    <h3 class='section-header'>Domains</h3>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-4 md:grid-cols-2'>
    {{#domains}}
    <li class='truncate'>
        {{#known}}<a href="../domains/{{domain}}.html">{{/known}}{{domain}}{{#known}} ({{prevalence}}&#37;)</a>{{/known}}
    </li>
    {{/domains}}
</div>


{{>footer}}
