{{>header}}

<script>
    window.wikiData = {
        type: "domain",
        domain: "{{domain}}",
        history: {{{historySerialized}}}
    };
</script>
<script src="../assets/js/vendor/Chart.min.js" defer></script>
<script src='../assets/js/graph.js' defer></script>

<div class="container-lg px-3 my-5 markdown-body">
    <h1>{{domain}}</h1>
    <div class="domain-head">
        <div class="domain-stats">
            <ul>
                {{#owner}}
                <li>
                    Owner: {{#name}}<a href="../entities/{{name}}.html">{{name}}</a>{{/name}}{{^name}}<i>Unknown</i>{{/name}}
                </li>
                <li>
                    Privacy Policy: {{#privacyPolicy}}<a href="{{privacyPolicy}}" target="_blank" class="external" rel="noreferrer noopener">{{privacyPolicy}}</a>{{/privacyPolicy}}{{^privacyPolicy}}<i>Unknown</i>{{/privacyPolicy}}
                </li>
                {{/owner}}
                <li>
                    Rank: &#35;{{rank}}<small>/{{totalDomains}}</small>
                </li>
                <li>
                    Prevalence: {{prevalence}}&#37; ({{sites}} sites)
                </li>
                <li>
                    Fingerprinting: {{fingerprinting}}<small>/3</small> - <span class="fp-{{fingerprinting}}">{{fpText}}</span>
                </li>
                <li>
                    Cookies: {{cookies}}&#37;
                </li>
                {{#performance}}
                <li>
                    Performance: <small><a href="https://github.com/duckduckgo/tracker-radar/blob/master/docs/DATA_MODEL.md#performance" target="_blank">?</a></small>
                    <ul>
                        <li>time: {{time}}<small>/3</small></li>
                        <li>size: {{size}}<small>/3</small></li>
                        <li>CPU: {{cpu}}<small>/3</small></li>
                        <li>cache: {{cache}}<small>/3</small></li>
                    </ul>
                </li>
                {{/performance}}
                <li>
                    Categories: {{#categories}}<a href="../categories/{{.}}.html">{{.}}</a>, {{/categories}}
                </li>
                <li>
                    Resource Types: 
                    {{#types}}
                    <span>{{.}}</span>,
                    {{/types}}
                </li>
                <li><a href="https://github.com/duckduckgo/tracker-radar/blob/master/domains/{{domain}}.json" class="external" rel="noreferrer noopener">Raw data file</a>.</li>
            </ul>
        </div>
        <div class='graph-container'>
            <label>Historic data: <select class='graph-container__controller'>
                <option selected value='prevalence'>prevalence</option>
                <option value='sites'># of sites</option>
                <option value='fingerprinting'>fingerprinting score</option>
                <option value='cookies'>cookies</option>
            </select></label>
            <canvas class='graph-container__graph' width="300" height="300"></canvas>
        </div>
    </div>
    
    <p>
        <strong>Subdomains:</strong>
        {{#subdomains}}
        <span>{{.}}</span>, 
        {{/subdomains}}
    </p>

    <div>
        {{#fingerprintingApis.length}}
        <div><strong>Fingerprinting APIs Used</strong> <small>(Sorted by <a href="https://github.com/duckduckgo/tracker-radar/blob/master/docs/FAQ.md#are-you-weighting-the-use-of-various-apis-in-determining-possible-fingerprinting" target="_blank" class="external" rel="noreferrer noopener">weight</a>)</small></div>
        {{/fingerprintingApis.length}}
        <ul>
        {{#fingerprintingApis}}
            <li>{{.}}</li>
        {{/fingerprintingApis}}
        </ul>
    </div>

    <div>
        {{#cnames.length}}
        <div><strong>CNAMEs</strong></div>
        {{/cnames.length}}
        <ul>
        {{#cnames}}
            <li>
                <a href="http://{{original}}" class="external">{{original}}</a> &#x2192; <a href="http://{{resolved}}" class="external">{{resolved}}</a>
            </li>
        {{/cnames}}
        </ul>
    </div>

    <div>
        <div><strong>Resources Found</strong></div>
        <ul>
        {{#resources}}
            <li><a href="http://{{.}}" target="_blank" class="external" rel="noreferrer noopener">{{.}}</a></li>
        {{/resources}}
        </ul>
    </div>
</div>

{{>footer}}
