{{>header}}

<script>
    window.wikiData = {
        type: "domain",
        domain: "{{domain}}",
        history: {{{historySerialized}}}
    };
</script>
<script src="../assets/js/vendor/Chart.min.js" defer></script>
<script src='../assets/js/graph.js' defer></script>

<div class='p-5 border-b'>
    <h1 class='text-2xl mb-5'><img src='https://external-content.duckduckgo.com/ip3/{{domain}}.ico' width="32" height="32" class='inline-block' /> {{domain}}</h1>
    <div class='grid grid-cols-1 col-gap-5 row-gap-5 md:grid-cols-2 md:row-gap-10'>
        <div class="domain-stats">
            <h3 class="section-header">Domain Stats</h3>
            <ul>
                <h3 class='section-header'>{{#owner}}</h3>
            
                <li class='py-1'>
                    <strong>Owner:</strong> {{#name}}<a href="../entities/{{filename}}.html">{{name}}</a>{{/name}}{{^name}}<i>Unknown</i>{{/name}}
                </li>
                <li class='py-1'>
                    <strong>Privacy Policy:</strong> {{#privacyPolicy}}<a href="{{privacyPolicy}}" target="_blank" class="external" rel="noreferrer noopener">{{privacyPolicy}}</a>{{/privacyPolicy}}{{^privacyPolicy}}<i>Unknown</i>{{/privacyPolicy}}
                </li>
                {{/owner}}
                <li class='py-1'>
                    <strong>Rank:</strong> &#35;{{rank}}<small>/{{totalDomains}}</small>
                </li>
                <li class='py-1'>
                    <strong>Prevalence:</strong> {{prevalence}}&#37; ({{sites}} sites)
                </li>
                <li class='py-1'>
                    <strong>Fingerprinting:</strong> {{fingerprinting}}<small>/3</small> - <span class="fp-{{fingerprinting}}">{{fpText}}</span>
                </li>
                <li class='py-1'>
                    <strong>Cookies:</strong> {{cookies}}&#37;
                </li>
                {{#performance}}
                <li class='py-1'>
                    <strong>Performance:</strong> <small><a href="https://github.com/duckduckgo/tracker-radar/blob/master/docs/DATA_MODEL.md#performance" target="_blank">?</a></small>
                    <ul>
                        <li>time: {{time}}<small>/3</small></li>
                        <li>size: {{size}}<small>/3</small></li>
                        <li>CPU: {{cpu}}<small>/3</small></li>
                        <li>cache: {{cache}}<small>/3</small></li>
                    </ul>
                </li>
                {{/performance}}
                <li class='py-1'>
                    <strong>Categories:</strong> {{#categories}}<a href="../categories/{{.}}.html">{{.}}</a>, {{/categories}}
                </li>
                <li class='py-1'>
                    <strong>Resource Types:</strong> 
                    {{#types}}
                    <span>{{.}}</span>,
                    {{/types}}
                </li>
                <li class='py-1'><a href="https://github.com/duckduckgo/tracker-radar/blob/master/domains/US/{{domain}}.json" class="external" rel="noreferrer noopener">Raw data file</a>.</li>
                <li class='py-1'>
                    <strong>Subdomains:</strong>
                    {{#subdomains}}
                    <span>{{.}}</span>, 
                    {{/subdomains}}
                </li>
            </ul>
        </div>
        <div class='graph-container graph-container--right'>
            <div class='flex'>
                <h3 class="section-header flex-grow">Historic Data</h3>
                <select class='graph-container__controller p-2 text-sm self-start py-1'>
                    <option selected value='prevalence'>prevalence</option>
                    <option value='sites'># of sites</option>
                    <option value='fingerprinting'>fingerprinting score</option>
                    <option value='cookies'>cookies</option>
                </select>
            </div>
            <canvas class='graph-container__graph w-full mt-5'></canvas>
        </div>
    </div>
</div>

{{#fingerprintingApis.length}}
<div class='p-5 border-b'>
    <div class='flex'>
        <h3 class='section-header pr-5'>Fingerprinting APIs Used
            <span class='text-sm'>
                (Sorted by <a href="https://github.com/duckduckgo/tracker-radar/blob/master/docs/FAQ.md#are-you-weighting-the-use-of-various-apis-in-determining-possible-fingerprinting" target="_blank" class="external" rel="noreferrer noopener">weight</a>)
            </span>
        </h3> 
    </div>    

    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-3 md:grid-cols-2'>
    {{#fingerprintingApis}}
        <li class='truncate'>{{.}}</li>
    {{/fingerprintingApis}}
    </ul>
</div>
{{/fingerprintingApis.length}}

{{#cnames.length}}
<div class='p-5 border-b'>
    <h3 class='section-header'>CNAMEs</h3>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-3 md:grid-cols-1'>
    {{#cnames}}
        <li class='truncate'>
            <a href="http://{{original}}" target="_blank" class="external">{{original}}</a> &#x2192; <a href="http://{{resolved}}" target="_blank" class="external">{{resolved}}</a>
        </li>
    {{/cnames}}
    </ul>
</div>
{{/cnames.length}}

{{#topInitiators.length}}
<div class='p-5 border-b'>
    <h3 class='section-header'>Top Initiators</h3>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-3 md:grid-cols-1'>
    {{#topInitiators}}
        <li class='truncate'>
            {{#firstParty}}
            <p>loaded directly - {{percentage}}% of loads</p>
            {{/firstParty}}
            {{^firstParty}}
            <p><a href="./{{domain}}.html">{{domain}}</a> - {{percentage}}% of loads</p>
            {{/firstParty}}
        </li>
    {{/topInitiators}}
    </ul>
</div>
{{/topInitiators.length}}

<div class='p-5'>
    <h3 class='section-header'>Resources Found</h3>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-3 md:grid-cols-1'>
    {{#resources}}
        <li class='break-all'>
            <p><a href="http://{{url}}" target="_blank" class="external" rel="noreferrer noopener">{{url}}</a> (seen on {{sites}} websites)</p>
        </li>
    {{/resources}}
    </ul>
</div>

{{#exampleSites.length}}
<div class='p-5 border-b'>
    <h3 class='section-header'>Sites</h3>
    <h4 class='section-note'>Sample of sites where this domain was encountered as a third party.</h4>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-3 md:grid-cols-1'>
    {{#exampleSites}}
        <li class='truncate'>
            <a href="http://{{.}}" target="_blank" class="external">{{.}}</a>
        </li>
    {{/exampleSites}}
    </ul>
</div>
{{/exampleSites.length}}

{{>footer}}
