{{>header}}

<script>
    window.wikiData = {
        type: "entity",
        name: "{{name}}",
        history: {{{historySerialized}}}
    };
</script>
<script src="../assets/js/vendor/Chart.min.js" defer></script>
<script src='../assets/js/entity-graph.js' defer></script>

<div class="container-lg px-3 my-5 markdown-body">
    <h1>{{name}}</h1>
    <div class="entity-head">
        <div class="domain-stats">
            <ul>
                <li>
                    Display name: {{displayName}}
                </li>
                {{#prevalence}}
                <li>
                    Prevalence:
                    <ul>
                        <li>tracking - {{tracking}}</li>
                        <li>nonTracking - {{nonTracking}}</li>
                        <li>total - {{total}}</li>
                    </ul>
                </li>
                {{/prevalence}}
                <li><a href="https://github.com/duckduckgo/tracker-radar/blob/master/entities/{{name}}.json" class="external" rel="noreferrer noopener">Raw data file</a>.</li>

            </ul>
        </div>
        <div class='graph-container'>
            <label>Historic data: <select class='graph-container__controller'>
                {{#history.0.prevalence}}
                <option selected value='prevalence'>prevalence</option>
                {{/history.0.prevalence}}
                <option value='properties'># of properties</option>
            </select></label>
            <canvas class='graph-container__graph' width="300" height="300"></canvas>
        </div>
    </div>
    <p>
        <strong>Properties:</strong>
        {{#properties}}
        <span>
            {{#known}}<a href="../domains/{{domain}}.html">{{/known}}{{domain}}{{#known}} ({{prevalence}}%)</a>{{/known}}
        </span>,
        {{/properties}}
    </p>

</div>

{{>footer}}
