{{>header}}

<script>
    window.wikiData = {
        type: "entity",
        name: "{{name}}",
        history: {{{historySerialized}}}
    };
</script>
<script src="../assets/js/vendor/Chart.min.js" defer></script>
<script src='../assets/js/entity-graph.js' defer></script>

<div class='p-5 border-b'>
    <h1 class='text-2xl mb-5'>{{name}}</h1>
    <div class='grid grid-cols-1 col-gap-5 row-gap-5 md:grid-cols-2 md:row-gap-10'>
        <div class="entity-stats">
            <h3 class="section-header">Entity Stats</h3>
            <ul>
                <li class='py-1'>
                    Display name: {{displayName}}
                </li>
                {{#prevalence}}
                <li class='py-1'>
                    Prevalence:
                    <ul>
                        <li>tracking - {{tracking}}%</li>
                        <li>nonTracking - {{nonTracking}}%</li>
                        <li>total - {{total}}%</li>
                    </ul>
                </li>
                {{/prevalence}}
                <li class='py-1'>
                    <a href="https://github.com/duckduckgo/tracker-radar/blob/master/entities/{{name}}.json" class="external" rel="noreferrer noopener">Raw data file</a>
                </li>
            </ul>
        </div>
        <div class='graph-container'>
            <div class='flex'>
                <h3 class="section-header flex-grow">Historic Data</h3>
                <select class='graph-container__controller p-2 text-sm self-start py-1'>
                    {{#history.0.prevalence}}
                    <option selected value='prevalence'>prevalence</option>
                    {{/history.0.prevalence}}
                    <option value='properties'># of properties</option>
                </select>
            </div>
            <canvas class='graph-container__graph w-full mt-5'></canvas>
        </div>
    </div>
</div>
<div class='p-5'>
    <h3 class='section-header'>Properties</h3>
    <ul class='grid grid-cols-1 row-gap-2 col-gap-5 lg:grid-cols-4 md:grid-cols-2'>
        {{#properties}}
        <li class='truncate'>
            {{#known}}<a href="../domains/{{domain}}.html">{{/known}}{{domain}}{{#known}} ({{prevalence}}%)</a>{{/known}}
        </li>
        {{/properties}}
    </ul>
</div>

{{>footer}}
