{{>header}}

<script>
    window.wikiData = {
        type: "entity",
        name: "{{name}}",
    };
</script>

<div class="container-lg px-3 my-5 markdown-body">
    <h1>{{name}}</h1>
    <ul>
        <li>Tracker Radar data file on <a href="https://github.com/duckduckgo/tracker-radar/blob/master/entities/{{name}}.json">GitHub</a>.</li>
        <li>
            Display name: {{displayName}}
        </li>
        {{#prevalence}}
        <li>
            Prevalence:
            <ul>
                <li>tracking - {{tracking}}</li>
                <li>nonTracking - {{nonTracking}}</li>
                <li>total - {{total}}</li>
            </ul>
        </li>
        {{/prevalence}}
    </ul>
    <p>
        <strong>Properties:</strong>
        {{#properties}}
        <span>
            {{#known}}<a href="../domains/{{domain}}.html">{{/known}}{{domain}}{{#known}} ({{prevalence}})</a>{{/known}}
        </span>,
        {{/properties}}
    </p>

</div>

{{>footer}}
