            <footer class='p-5 bg-gray-300'>
                DuckDuckGo, <a href="https://github.com/SlayterDev/tracker-radar-wiki">wiki repo</a>, <a href="https://github.com/duckduckgo/tracker-radar">tracker radar repo</a>
            </footer>
        </div>
    </body>
</html>
