---
title: Tracker Radar - {{domain}}
---

<!DOCTYPE html>
<html>
<head>
    <title>Tracker Radar - {{domain}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <script src='https://unpkg.com/lunr/lunr.js' defer></script>
    <script src='/assets/js/search.js' defer></script>
</head>

<body>

<div class='position-fixed bg-white search-box'>
    <input type='search' disabled="disabled" placeholder="Loading…" class='search-box__input' />
    <ul class='search-box__results'></ul>
</div>
