<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />

    <title>Tracker Radar Wiki</title>

    <link rel="stylesheet" href="./assets/css/style.min.css">
    <script>
        window.wikiData = {
            type: "index",
            history: {{{historicDataString}}}
        };
    </script>
    <script src='./assets/js/vendor/lunr.js' defer></script>
    <script src='./assets/js/search.js' defer></script>

    <script src="./assets/js/vendor/Chart.min.js" defer></script>
    <script src='./assets/js/index-graph.js' defer></script>
</head>

<body>

<div class="container mx-auto">
    <nav class="flex items-center justify-between flex-wrap p-5 bg-gray-300">
        <div class="flex items-center flex-shrink-0 mr-5">
            <a href="/" class="font-semibold text-xl">Tracker Radar Wiki</a>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="/" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                    Home
                </a>
                <a href="/top100.html" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                    Top 100
                </a>
            </div>
        </div>
        <div class='relative'>
            <input type='search' disabled="disabled" placeholder="Loading…" class='search-box__input px-2' />
            <ul class='search-box__results absolute top-100 w-full bg-gray-100'></ul>
        </div>
    </nav>

    <div class="container mx-auto p-5">
        <h3 class="section-header">Last Updated</h3>
        {{#lastCommitInfo}}
        <div>
            <span>{{date}}</span>&nbsp;&bull;
            <span>{{crawled}} top sites crawled</span>&nbsp;&bull;
            <span><a href="https://github.com/duckduckgo/tracker-radar/tree/{{hash}}" target="_blank">Github Commit</a></span>
        </div>
        {{/lastCommitInfo}}
    </div>

    <div class="grid grid-cols-1 row-gap-10 md:grid-cols-2 md:row-gap-2 p-5">
        <div class="top-entities">
            <h3 class="section-header">Top Ten Entities</h3>
            <ol class="grid grid-cols-1 lg:grid-cols-2 row-gap-2">
            {{#entities}}
                <li><a href="./entities/{{name}}.html">{{name}} - {{prevalence}}&#37;</a></li>
            {{/entities}}
            </ol>
        </div>
        <div class="top-trackers">
            <h3 class="section-header">Top 10 Domains</h3>
            <ol class="grid grid-cols-1 lg:grid-cols-2 row-gap-2">
            {{#domains}}
                <li><a href="./domains/{{domain}}.html">{{domain}} - {{sites}} sites</a></li>
            {{/domains}}
            </ol>
        </div>
        <a href="./top100.html">See More...</a>
    </div>

    <div class="p-5">
        <h3 class="section-header">Domains By Category</h3>
        <ul class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 row-gap-2'>
        {{#categories}}
            <li><a href="./categories/{{name}}.html">{{name}}</a></li>
        {{/categories}}
        </ul>
    </div>

    <div class="p-5">
        <h3 class="section-header">Trending Domains</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 row-gap-2">
        {{#trending.domains}}
            <li><a href="./domains/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&#37;</span></li>
        {{/trending.domains}}
        </ul>
    </div>

    <div class="p-5">
        <h3 class="section-header">Trending Entities</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 row-gap-2">
        {{#trending.entities}}
            <li><a href="./entities/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&#37;</span></li>
        {{/trending.entities}}
        </ul>
    </div>

    <div class='graph-container p-5'>
        <h3 class="section-header">Historic Data</h3>
        <label class='d-block'><select class='graph-container__controller'>
            <option selected value='domains'># of domains</option>
            <option value='entities'># of entities</option>
            <option value='fingerprinting'>fingerprinting scores</option>
        </select></label>
        <canvas class='graph-container__graph' width="450" height="300"></canvas>
    </div>

</div>

{{>footer}}
