<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />

    <title>Tracker Radar Wiki</title>

    <link rel="stylesheet" href="./assets/css/style.min.css">
    <script>
        window.wikiData = {
            type: "index",
            history: {{{historicDataString}}}
        };
    </script>
    <script src='./assets/js/vendor/lunr.js' defer></script>
    <script src='./assets/js/search.js' defer></script>

    <script src="./assets/js/vendor/Chart.min.js" defer></script>
    <script src='./assets/js/index-graph.js' defer></script>
</head>

<body>

<div class="container mx-auto">
    {{>navigation}}

    <div class="mx-auto p-5">
        <h3 class="section-header">Based on <a href="https://github.com/duckduckgo/tracker-radar/releases/tag/{{lastTagInfo.name}}" target="_blank">{{lastTagInfo.name}}</a> Tracker Radar release.</h3>
    </div>

    <div class="grid grid-cols-1 row-gap-10 md:grid-cols-3 md:row-gap-2 p-5 border-b">
        <div class="top-entities">
            <h3 class="section-header">Top 10 Entities</h3>
            <ol class="list-decimal">
            {{#entities}}
                <li class='ml-5 py-1'><a href="./entities/{{name}}.html">{{name}} - {{prevalence}}&#37;</a></li>
            {{/entities}}
            </ol>
        </div>
        <div class="top-trackers">
            <h3 class="section-header">Top 10 Domains</h3>
            <ol class="list-decimal">
            {{#domains}}
                <li class='ml-5 py-1'><img src='https://external-content.duckduckgo.com/ip3/{{domain}}.ico' width="16" height="16" class='inline-block' /> <a href="./domains/{{domain}}.html">{{domain}} - {{sites}} sites</a></li>
            {{/domains}}
            </ol>
        </div>
        <div class='graph-container'>
            <div class='flex'>
                <h3 class="section-header flex-grow">Historic Data</h3>
                <select class='graph-container__controller p-2 text-sm self-start py-1'>
                    <option selected value='domains'># of domains</option>
                    <option value='entities'># of entities</option>
                    <option value='fingerprinting'>fingerprinting scores</option>
                </select>
            </div>
            <canvas class='graph-container__graph w-full mt-5'></canvas>
        </div>
        <a href="./top100.html">See More...</a>
    </div>

    <div class="p-5 border-b">
        <h3 class="section-header">Domains By Category</h3>
        <ul class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 row-gap-2'>
        {{#categories}}
            <li><a href="./categories/{{name}}.html">{{name}}</a></li>
        {{/categories}}
        </ul>
    </div>

    <div class="p-5 border-b">
        <h3 class="section-header">Trending Domains (absolute)</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.domains}}
            <li><img src='https://external-content.duckduckgo.com/ip3/{{name}}.ico' width="16" height="16" class='inline-block' /> <a href="./domains/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&#37;</span></li>
        {{/trending.domains}}
        </ul>
    </div>

    <div class="p-5 mb-5">
        <h3 class="section-header">Trending Entities (absolute)</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.entities}}
            <li><a href="./entities/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&#37;</span></li>
        {{/trending.entities}}
        </ul>
    </div>

        <div class="p-5 border-b">
        <h3 class="section-header">Trending Domains (relative)</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.domainsRelative}}
            <li><img src='https://external-content.duckduckgo.com/ip3/{{name}}.ico' width="16" height="16" class='inline-block' /> <a href="./domains/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&times;</span></li>
        {{/trending.domainsRelative}}
        </ul>
    </div>

    <div class="p-5 mb-5">
        <h3 class="section-header">Trending Entities (relative)</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.entitiesRelative}}
            <li><a href="./entities/{{name}}.html">{{name}}</a> - <span class="trend {{direction}}">{{{htmlSymbol}}} {{diff}}&times;</span></li>
        {{/trending.entitiesRelative}}
        </ul>
    </div>

    {{#trending.domainsNew.length}}
    <div class="p-5 mb-5">
        <h3 class="section-header">Top new domains</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.domainsNew}}
            <li><img src='https://external-content.duckduckgo.com/ip3/{{name}}.ico' width="16" height="16" class='inline-block' /> <a href="./domains/{{name}}.html">{{name}}</a> - <span class="trend">{{prevalence}}&#37;</span></li>
        {{/trending.domainsNew}}
        </ul>
    </div>
    {{/trending.domainsNew.length}}

    {{#trending.entitiesNew.length}}
    <div class="p-5 mb-5">
        <h3 class="section-header">Top new entities</h3>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 row-gap-2">
        {{#trending.entitiesNew}}
            <li><a href="./entities/{{name}}.html">{{name}}</a> - <span class="trend">{{prevalence}}&#37;</span></li>
        {{/trending.entitiesNew}}
        </ul>
    </div>
    {{/trending.entitiesNew.length}}

{{>footer}}
