<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./assets/css/style.css?v=fc5ce159fda290eb040d59d5fd94ab2af1cac779">
    <link rel="stylesheet" href="./assets/css/index.css">
    <script src='https://unpkg.com/lunr/lunr.js' crossorigin="anonymous" defer></script>
    <script src='./assets/js/search.js' defer></script>
</head>

<body>

<div class="container-lg px-3 my-5 markdown-body">

<h1><a href="./">tracker-radar-wiki</a></h1>

<div class='bg-white search-box'>
    <div><strong>Search:</strong></div>
    <input type='search' disabled="disabled" placeholder="Loading…" class='search-box__input' />
    <ul class='search-box__results' style="list-style-type: none;"></ul>
</div>

<div class="last-update">
    <div><strong>Last Updated</strong></div>
    {{#lastCommitInfo}}
    <div>
        <span>{{date}}</span>&nbsp;&bull;
        <span>{{crawled}} top sites crawled</span>&nbsp;&bull;
        <span><a href="https://github.com/duckduckgo/tracker-radar/tree/{{hash}}" target="_blank">Github Commit</a></span>
    </div>
    {{/lastCommitInfo}}
</div>

<div>
    <div><strong>Trackers by Category</strong></div>
    <ul class="cat-list">
    {{#categories}}
        <li><a href="./categories/{{name}}.html">{{name}}</a></li>
    {{/categories}}
    </ul>
</div>

<div class="top-container">
    <div class="top-trackers">
        <div><strong>Top 100 Trackers</strong></div>
        <ol>
        {{#domains}}
            <li><a href="./domains/{{domain}}.html">{{domain}} - {{sites}} sites</a></li>
        {{/domains}}
        </ol>
    </div>
    <div class="top-entities">
        <div><strong>Top 100 Entities</strong></div>
        <ol>
        {{#entities}}
            <li><a href="./entities/{{name}}.html">{{name}} - {{properties}} properties</a></li>
        {{/entities}}
        </ol>
    </div>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
<script>anchors.add();</script>

{{>footer}}
