<nav class="flex items-center justify-between flex-wrap p-5 bg-gray-300">
    <div class="flex items-center flex-shrink-0 mr-5">
        <a href="{{{hostPath}}}" class="font-semibold text-xl">Tracker Radar Wiki</a>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="{{{hostPath}}}" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                Home
            </a>
            <a href="{{{hostPath}}}/top100.html" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                Top 100
            </a>
            <a href="{{{hostPath}}}/apiHistory.html" class="block mt-4 lg:inline-block lg:mt-0 mr-4">
                API abuse score history
            </a>
        </div>
    </div>
    <div class='relative'>
        <input type='search' disabled="disabled" placeholder="Loading…" class='search-box__input px-2' />
        <ul class='search-box__results absolute top-100 w-full bg-gray-100'></ul>
    </div>
</nav>
