<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico" type="image/x-icon" />

    <title>Tracker Radar Wiki</title>

    <link rel="stylesheet" href="./assets/css/style.min.css">
    <script src='./assets/js/vendor/lunr.js' defer></script>
    <script src='./assets/js/search.js' defer></script>
</head>

<body>
    <div class="container mx-auto">
        {{>navigation}}

        <div class="p-5 grid grid-cols-1 row-gap-10 md:grid-cols-2 md:row-gap-2">
            <div class="top-entities">
                <div class='section-header'>Top 100 Entities</div>
                <ol class='list-decimal'>
                {{#entities}}
                    <li class='ml-5'><a href="./entities/{{name}}.html">{{name}} - {{prevalence}}&#37;</a></li>
                {{/entities}}
                </ol>
            </div>
            <div class="top-trackers">
                <div class='section-header'>Top 100 Domains</div>
                <ol class='list-decimal'>
                {{#domains}}
                    <li class='ml-5'><a href="./domains/{{domain}}.html">{{domain}} - {{sites}} sites</a></li>
                {{/domains}}
                </ol>
            </div>
        </div>
    {{>footer}}
