{{>header}}

<div class="container-lg px-3 my-5 markdown-body">
    <h1>{{domain}}</h1>
    <ul>
        <li>
            Sites: {{sites}}
        </li>
        <li>
            Prevalence: {{prevalence}}
        </li>
        <li>
            Fingerprinting: {{fingerprinting}}
        </li>
    </ul>
    <p>
        <strong>Subdomains:</strong>
        {{#subdomains}}
        <span>{{.}}</span>
        {{/subdomains}}
    </p>
</div>

{{>footer}}
