{{> templates/header}}

<div>
    <h3>{{domain}}</h3>
    <ul>
        <li>
            Sites: {{sites}}
        </li>
        <li>
            Prevalence: {{prevalence}}
        </li>
        <li>
            Fingerprinting: {{fingerprinting}}
        </li>
    </ul>
    <p>
        {{#subdomains}}
        <span>{{.}}</span>
        {{/subdomains}}
    </p>
</div>

{{> templates/footer}}
