@tailwind base;

a {
  @apply text-blue-600 underline;
}

a.external {
  background: url(../img/External.svg) center right no-repeat;
  padding-right: 14px;
  background-size: 12px;
}

@tailwind components;

.trend {
  @apply bg-blue-400 font-bold text-xs text-white px-2 py-1 rounded-md;
}

.trend.down {
  @apply bg-red-600;
}

.trend.up {
  @apply bg-green-600;
}

.section-header {
  @apply text-xl mb-2;
}

.section-note {
  @apply text-sm text-gray-600 mb-3;
}

@tailwind utilities;