.cat-list {
    padding: 10px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.top-container {
    width: 88%;
    padding: 10px;
}

.top-trackers {
    width: 50%;
    float: left;
}

.top-entities {
    margin-left: 50%;
}
