.last-update {
    font-size: smaller;
    margin-bottom: 15px;
}

.cat-list {
    padding: 10px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.trending-list {
    padding: 10px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.trend-up {
    color: #009900;
}

.trend-down {
    color: #990000;
}

.top-container {
    width: 88%;
    padding: 10px;
}

.top-entities {
    width: 50%;
    float: left;
}

.top-trackers {
    margin-left: 50%;
}

@media all and (max-width:480px) {
    .search-box__input {
        width: 88%;
    }

    .cat-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .trending-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .top-container {
        width: 100%;
        padding: 0;
    }
}
